[submodule "NetworkAutomation/NETCONF/yang"]
	path = NetworkAutomation/NETCONF/yang
	url = https://github.com/YangModels/yang.git
[submodule "NetworkAutomation/Netmiko/TextFSM"]
	path = NetworkAutomation/Netmiko/TextFSM
	url = https://github.com/networktocode/ntc-templates.git
